

  body {
 
    background: linear-gradient(
      90deg,
      rgba(65, 184, 131, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
    display:block; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        
  }

  input{
    flex: 3;
    font-size: 16px;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
  }

  input:focus {
    outline: none;
    border: 3px solid black;
     
  }

  button {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 16px;
    border: none;
    background-color:aquamarine;
    padding: 12px;
    margin-left: 7px;
    cursor: pointer;
  }
  button:hover {
    transform: scale(1.1);
  }

  header{
    background-color: white;
    text-align: center;
          
  }

  h1 {
    margin-bottom: 10%;
    font-weight: 100;

  }
  main{
    margin-left: 30%;
    border: 2px solid #fff;
    padding: 30px 40px;
    width: 40%;
    min-width: 500px;
   
}

fieldset{
  margin-top: 10%;
  border: 2px solid black;
  background-color: white;
}
 
 legend {
  font-size: 20px;
  margin-bottom: 10%;
 }

 li {
  line-height: 35px;

 }

 .checked {
  text-decoration: line-through;

} 
