*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    font-size: 18px;
    border:2px solid white;
    padding: 40px 30px 20px;
    width: 35%;
   margin-top: 15%;
   margin-left: 20%;
    
}


